<!-- Main navigation -->
<!-- Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/Assets/images/logo.png" style="width:120px; height:auto"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

          <% if((title=="Home") || (title=="/")){ %>
            <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
              <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
            <% } %>
          </li>

          <% if(title=="About"){%>
            <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa fa-user"></i> About</a>
          <% } else { %>
            <li class="nav-item ">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa fa-user"></i> About</a>
          <% } %>
            
          </li>

          <% if(title=="Projects"){%>
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-briefcase"></i> Projects</a>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/projects"><i class="fas fa-briefcase"></i> Projects</a>
          <% } %>
            
          </li>

          <% if(title=="Services"){%>
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/services"><i class="far fa-life-ring"></i> Services</a>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link " aria-current="page" href="/services"><i class="far fa-life-ring"></i> Services</a>
          <% } %>
            
          </li>

          <% if(title=="Contact"){%>
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/contact"><i class="fa fa-phone"></i> Contact</a>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/contact"><i class="fa fa-phone"></i> Contact</a>
          <% } %>
          </li>

          <% if(title=="Contact List"){%>
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/businesscontact"><i class="fa fa-book"></i> Business Contacts</a>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/businesscontact"><i class="fa fa-book"></i> Business Contacts</a>
          <% } %>
          </li>

          <% if(title=="Login"){%>
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/login"><i class="fa fa-user display-8"></i></a>
          <% } else { %>
            <li class="nav-item ">
              <a class="nav-link" aria-current="page" href="/login"><i class="fa fa-user display-8"></i></a>
          <% } %>
          </li>


          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i> </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
