<!-- footer.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/css/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
