<!-- contact.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<div class="card border-light mb-3">
  <div class="p-5 card-body">
      <div class="row g-0">
        <div class="col-md-12">
            <h5 class="display-6 mb-3"> Contact me</h5>
            <p class="">Please fill out the form and submit. I will get back to you asap. </p>
            <p class=""><small class="text-muted">... Thank you</small></p>
        
        </div>
      </div>
  </div>
</div>

<div class="card mb-3">
  <div class="p-5 card-body">
      <div class="row g-0">
        <div class="col-md-12 p-3">
          <form action="#" method="post">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname" placeholder="First name">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastname" placeholder="Last name">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Email address</label>
                <input type="text" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Contact #</label>
                <input type="text" class="form-control" id="contactno" placeholder="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Message</label>
                <textarea class="form-control" id="message" placeholder=""></textarea>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary" id="submit" type="submit">Submit</button>
              </div>
          </form>

          <div class="mt-5 ">
          </div>
        </div>
      </div>
  </div>
</div>


<div class="mt-5 mb-5">
  <hr class="p-3 mb-5">
</div>