<!-- home.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->
    


<div class="card border-light mb-3" style="background-color:#253842; min-height: 400px;">
  <div class="p-5 card-body text-white">
      <div class="row g-0">
        
        <div class="col-md-8">
            <h5 class="display-6">Syeda Maria</h5>
            <p class="">Hello there, thank you for visiting my site. I am Syeda, a software engineering student at Centennial college.</p>
            <p class="">I am capable of developing console based applications, web based games and website design.</p>
            <p class=""><small class="text-muted">Contact me for your custom needs</small></p>
            <div class="mt-5 ">
              <a href="/contact" class="btn btn-info">Contact me</a> 
              <a href="/about" class="btn btn-outline-info">About me</a>
            </div>

            
        </div>
        <div class="col-md-4">
          <img src="/Assets/images/img-1.png" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    
  </div>
</div>

<div class="card-group mt-5 mb-5">
  <div class="card">
    <img src="/Assets/images/code1.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">Windows app</h5>
      <p class="card-text">I have experience of developing windows service app. If you require to develop such app please contact me.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/code2.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web app</h5>
      <p class="card-text">I have experience of developing web app. If you require to develop such app please contact me.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/code3.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Games</h5>
      <p class="card-text">I have experience of developing games in javascript. Please contact me if you require to develop a game app.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="mt-5 mb-5">
  <hr class="p-3 mb-5">

</div>


