<!-- login.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->
<div class="card border-light mb-3">
  <div class="p-2 card-body">
      <div class="row g-0">
        <div class="col-md-8">
            <h5 class="display-8 mb-5">Login</h5>
            <p class="">Please login to view authenticated contents</p>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="card-group mb-5">
  <div class="card">
    <div class="card-body">
      <form action="#" method="post">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Login ID</label>
          <input type="text" class="form-control" id="loginid" placeholder="Login id">
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="mb-3">
          <button class="btn btn-primary" id="submit" type="submit">Login</button>
        </div>
    </form>
    </div>
  </div>
</div>

<div class="mt-5 mb-5">
  <hr class="p-3 mb-5">

</div>


