<!-- projects.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<div class="card border-light mb-3">
  <div class="p-5 card-body">
      <div class="row g-0">
        <div class="col-md-12">
            <h5 class="display-6 mb-5"> Projects </h5>
            <p class="">There are multiple applications I have completed. </p>
            <p class=""><small class="text-muted">Contact me for your custom needs</small></p>
            <div class="mt-5 ">
              
            </div>

            
        </div>
        
      </div>
    
  </div>
</div>

<div class="card-group mt-5 mb-5">
  <div class="card">
    <img src="/Assets/images/code1.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">Windows app</h5>
      <p class="card-text">I have experience of developing windows service app. If you require to develop such app please contact me.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/code2.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">Web app</h5>
      <p class="card-text">I have experience of developing web app. If you require to develop such app please contact me.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="/Assets/images/code3.jpg" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title"> Games</h5>
      <p class="card-text">I have experience of developing games in javascript. Please contact me if you require to develop a game app.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="mt-5 mb-5">
  <hr class="p-3 mb-5">

</div>


