<!-- about.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->
<div class="card mt-5" >
    
    <div class="card-body">
        <img src="/Assets/images/pp.JPG" style="width:200px; height: auto;" class="card-img-top" alt="...">
      <h5 class="card-title">About me</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text mt-3">Hello there, I am Seyda Maria Manzoor, a student of Software Engineering Technology. 
          I love to code. Currently I am learning node.js with express js under MEAN stack. </p>
          <a href="/Assets/Resume.pdf" class="btn btn-primary">View my resume</a>
    </div>
  </div>