<!-- contact.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->
<div class="card mt-5" >
    
    <div class="card-body">
      <h5 class="card-title">Contact me</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text mt-3">If you would like to contact me please fill out this form. </p>
<form action="#" method="post">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstname" placeholder="First name">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastname" placeholder="Last name">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Email address</label>
        <input type="text" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Contact #</label>
        <input type="text" class="form-control" id="contactno" placeholder="">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Message</label>
        <textarea class="form-control" id="message" placeholder=""></textarea>
      </div>
      <div class="mb-3">
        
        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
      </div>
      
</form>


       
    </div>
  </div>