<!-- home.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<div class="card mt-5" >
    <div class="card-body">
      <h5 class="card-title">Welcome to my site</h5>
      <h6 class="card-subtitle mb-2 text-muted">Syeda Maria, Web Developer, MEAN stack</h6>
      <p class="card-text">Thank you for visiting my personal profile. This is my first project on node.js and Express JS. The site will be gradually updated. Please visit often for up-to-date information and features.</p>
      <a href="/about" class="btn btn-primary">About me</a>
      <a href="/contact" class="btn btn-primary">Contact me</a> 
    </div>
  </div>