<!-- projects.ejs; Syeda Maria Manzoor, 301184173, 03-Oct-2021-->

<div class="card mt-5" >
    
    <div class="card-body">
      <h5 class="card-title">Game app</h5>
      <img src="/Assets/images/javascript.jpg" style="height: 100px ; width: auto;">
      <p class="card-text mt-3">I have completed a browser based app developed in javascript.  </p>

      <h5 class="card-title">Web Site Design</h5>
      <img src="/Assets/images/web-design.jpg" style="height: 100px ; width: auto;">
      <p class="card-text mt-3">I designed a website for a company  </p>

      <h5 class="card-title">Console app</h5>
      <img src="/Assets/images/console-app.jpg" style="height: 100px ; width: auto;">
      <p class="card-text mt-3">Multiple console app was developed during my first semester. The technology I used: C# </p>
      
    </div>
  </div>